txt
/TimeSheet_API/.vs/TimeSheet_API/FileContentIndex/3f1984cf-109c-45f0-afb9-fa5b90db9fcf.vsidx
/TimeSheet_API/.vs/TimeSheet_API/FileContentIndex/ac59e7b6-0267-4311-8cf9-64db78b70245.vsidx
/TimeSheet_API/.vs/TimeSheet_API/FileContentIndex/ac59e7b6-0267-4311-8cf9-64db78b70245.vsidx
/TimeSheet_API/.vs/TimeSheet_API/FileContentIndex/383b31a0-aa41-4316-b14c-519039867dda.vsidx
/TimeSheet_API/.vs/TimeSheet_API/FileContentIndex/bbce33f2-e9f3-43b7-b1cb-215df7bce650.vsidx
/TimeSheet_API/.vs/TimeSheet_API/FileContentIndex/b067d3de-b78b-410b-a8f2-0d4e14660966.vsidx
