txt
/TimeSheet_API/.vs/TimeSheet_API/FileContentIndex/3f1984cf-109c-45f0-afb9-fa5b90db9fcf.vsidx
/.vs/TimeSheet_Backend/FileContentIndex/1471eb0a-6e4a-42ef-a975-005b57a9bf1c.vsidx
/.vs/TimeSheet_Backend/FileContentIndex/1bc4fcfa-7798-4de9-824a-c89cbe54737b.vsidx
/.vs/TimeSheet_Backend/FileContentIndex/23dc7810-1dc2-473e-a8a0-22de4df6b31c.vsidx
/.vs/TimeSheet_Backend/FileContentIndex/2d173014-ef58-42fa-96a9-1a74b6736c23.vsidx
/.vs/TimeSheet_Backend/FileContentIndex/839efa09-e846-49c4-98c4-0c00916f5aed.vsidx
/.vs/TimeSheet_Backend/FileContentIndex/fe0f1ee4-55dd-4a7c-9f99-2f28fec080d7.vsidx
